* {
    background: #cdcdcd;
}
.container {
    display: flex;
    flex-direction:column;
}

.homeTitle {
    font-family: 'Alfa Slab One', serif;
    margin-bottom: 300px;
    display: block;
    margin-top: 200px;
    color: #000000;
}

.searchBar {
    margin-bottom: 300px;
}

#thumbnail, img {
    cursor: pointer;
}

.homeInput {
    display: block;
    font-family: 'Gentium Book Basic', serif;
    padding: 5px;
    font-size: 20px;
    border: 2px solid #c06014;
    float: left;
    width: 10%;
    background: #eddbcd;
    margin-left: 42%;
}
form {
    display: block;
}

.formTitle {
    font-family: 'Alfa Slab One', serif;
    color: #000000;
    text-transform: uppercase;
}

.homeButton {
    font-family: 'Gentium Book Basic', serif;
    display: block;
    width: 4%;
    float: left;
    padding: 5px;
    background: #c06014;
    color: white;
    font-size: 20px;
    border: 2px solid #c06014;
    border-left: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#results-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}

::placeholder {
    color: #000000;
}

.video {
    margin-left: auto;
}


#pressCursor {
    cursor: pointer;
    font-family: 'Alfa Slab One', serif;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    width: 200px;
    height: 44px;
    text-align: center;
}

.button {
    margin-right: 10px;
    background: blue;
    color: white;
}

.showDesc {
    width: 30%;
    text-align: left;
    margin-right: auto; 
    margin-left: auto;
    font-family: 'Gentium Book Basic', serif;
    color: #000000;
    font-weight: bold;
    float: right;
    margin-right: 350px;
}

#resultsInfo {
    text-align: center;
}

.searchInput {
    margin-top: 0px;
}

img {
    border: 2px solid #6e6b70;
}

#js-error-message {
    text-align: center;
    color:red;
}

@media screen and (max-width : 1300px) and (min-width : 769px){
    iframe {
        width:300px;
        height:400px;
    }
    .homeInput {
        width: 20%;
        margin-left:0px;
    }

    .homeButton {
        width: 10%;
    }
    .showDesc{
        font-size: 17px;
    }
}

@media screen and (max-width : 768px) and (min-width: 0px) {
    form {
        display:flex;
        flex-direction:column;
    }

    .searchBar {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .homeTitle {
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .showDesc {
        width: 30%;
        text-align: left;
        font-family: 'Gentium Book Basic', serif;
        color: #000000;
        font-weight: bold;
        float: right;
        width: 100%; 
        font-size: 14px;
        margin-right: 0px;
    }
    #results-list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
    }

    .homeInput {
        width: 30%;
        margin-left:0px;
    }
    .homeButton {
        width: 20%;
    }
    form {
        display:flex;
        justify-content: center;
    }
}