.container {
    display: block;
    text-align: center;
    margin-top: 100px;
}

#homeInput {
    margin-top: 300px;
}

.hidden {
    display: none;
}
#results-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}

#pressCursor {
    cursor: pointer;
}

.homeTitle {
    display:block;
    margin-top: 200px;
}

.button {
    margin-right: 10px;
    background: blue;
    color: white;
}

.showDesc {
    width: 27%;
    text-align: left;
    float: right;
    margin-right: 300px; 
    margin-top: 0px;
    margin-bottom: 0px;
}


.searchInput {
    margin-top: 0px;
}


#js-error-message {
    text-align: center;
    color:red;
}