.container {
    display: block;
    text-align: center;
    margin-top: 100px;
}

#homeInput {
    margin-top: 300px;
}

.hidden {
    display: none;
}
#results-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}

.showDesc {
    margin-top: 0px;
    margin-bottom: 0px;
}

.homeTitle{
    display:block;
    margin-top: 200px;
}

.button {
    margin-right: 10px;
    background: blue;
    color: white;
}

p{
    width: 27%;
    text-align: left;
    float: right;
    margin-right: 300px;
}

a {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}



.searchInput {
    margin-top: 0px;
}


